* {
    background-color: #FFC4C4;
    font-family: 'Special Elite', cursive;
    color: red;  
}


.container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
    /* text-align: left; */
}

h1 {
    font-weight: 800;
}

p {
    font-size: large;
    font-weight: 400;
}

.wrapper {
    position: absolute;
    top: 70%;
    left: 25%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    }


.menu {
    padding: 0;
    }

ul,li {
    list-style: none;
    position: relative;
    margin: 10px 0;  
    top: 20px;
}

div ul li a {
    text-decoration: none;
    color: red;
}

.image {
    position: absolute;
    margin-left: 50%;
    bottom: -30%;
    left: 100%;
}
