* {
    box-sizing: border-box;
    background-color: #472D2D;
    font-family: 'Special Elite', cursive;
    color: #F5E8C7;  
}


.container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    bottom: 50px;
    text-align: left;
}

h1 {
    font-weight: 800;
}

p {
    font-size: large;
    font-weight: 400;
}

.p2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

.wrapper {
    position: absolute;
    top: 60%;
    left: 40%;
   
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    }


.menu {
    padding: 0;
    }

ul,li {
    list-style: none;
    position: relative;
    margin: 10px 0;  
    top: 20px;
}

div ul li a {
    text-decoration: none;
    color: #F5E8C7;
}

.header_img {
    position: absolute;
    margin-left: 50%;
    bottom: -50%;
    left: 100%;
    max-width: 100%;
    width: 500px;
}

img {
    height: 500px;
    width: 500px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #73A9AD;
}

@media (max-width : 768px) {
    img {
        /* margin-top: 10px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #73A9AD; */
        opacity: 20%;
    }
}
